<%- include('./partials/header')-%>
    <main>
        <div>FIXTURE</div>
        <div>FIXTURE del torneo
            <%-tournamentById.name-%>
        </div>
        <div class="container__fixture-id">
            <%tournamentById.fixture.forEach(function(element, index) {%>
                <%if(element.scoreP1 !==undefined){%>
                    <form class="fixture-match finished"
                        action="/update-games/<%=tournamentById.id%>/<%=element.matchId%>?_method=PUT" method="post"
                        autocomplete="off">
                        <%} else {%>
                            <form class="fixture-match" action="/upload-games/<%=tournamentById.id%>" method="post"
                                autocomplete="off">
                                <%};%>
                                    <div class="match-info">
                                        <input name="teamP1" class="match-info__team" value="<%=element.teamP1%>"
                                            readonly>
                                        <a href="/fixture/<%=tournamentById.id%>/<%=element.teamIdP1%>">
                                            <img src="<%=element.logoTeamP1%>" alt="<%=element.teamP1%>">
                                        </a>
                                        <input name="playerP1" class="match-info__team" value="<%=element.playerP1%>"
                                            readonly>
                                    </div>
                                    <div class="match-score">
                                        <%if(element.scoreP1 !==undefined){%>
                                            <input name="scoreP1" class="match-score__goals"
                                                value="<%=element.scoreP1%>">
                                            <span class="match-score__versus">-</span>
                                            <%} else {%>
                                                <input name="scoreP1" class="match-score__goals" type="number" min="0"
                                                    required>
                                                <span class="match-score__versus">vs</span>
                                                <%};%>
                                                    <%if(element.scoreP2 !==undefined){%>
                                                        <input name="scoreP2" class="match-score__goals"
                                                            value="<%=element.scoreP2%>">
                                                        <input type="submit" value="Editar" class="fixture-edit">
                                                        <%} else {%>
                                                            <input name="scoreP2" class="match-score__goals"
                                                                type="number" min="0" required>
                                                            <input type="submit" value="Confirmar"
                                                                class="fixture-submit">
                                                            <%};%>
                                    </div>
                                    <div class="match-info">
                                        <input name="teamP2" class="match-info__team" value="<%=element.teamP2%>"
                                            readonly>
                                        <a href="/fixture/<%=tournamentById.id%>/<%=element.teamIdP2%>">
                                            <img src="<%=element.logoTeamP2%>" alt="<%=element.teamP2%>">
                                        </a>
                                        <input name="playerP2" class="match-info__team" value="<%=element.playerP2%>"
                                            readonly>
                                    </div>
                            </form>

                            <%});%>
        </div>
        <div class="return">
            <div>Volver a <a href="/fixture">
                    Fixtures
                </a>
            </div>
            <div>Ir a
                <a href="/standings">
                    Clasificación
                </a>
            </div>
            <div>Volver al <a href="/">home</a></div>
        </div>
    </main>
    <%- include('./partials/footer')-%>