<%- include('./partials/header')-%>
    <main>
        <div>FIXTURE del torneo
            <%-tournamentName-%>
        </div>
        <div>Partidos de <%-teamName-%>
        </div>
        <div class="container__fixture-id">
            <%filteredFixtureFromTournament.forEach(function(element, index) {%>
                <div class="fixture-match">
                    <a class="match-info" href="/fixture/<%=tournamentId%>/<%=element.teamIdP1%>">
                        <span class="match-info__team">
                            <%=element.teamP1%>
                        </span>
                        <img src="<%=element.logoTeamP1%>" alt="<%=element.logoTeamP1%>">
                        <span>
                            <%=element.playerP1%>
                        </span>
                    </a>
                    <div class="match-score">
                        <%if(element.scoreP1 !==undefined){%>
                            <span class="match-score__goals">
                                <%=element.scoreP1%>
                            </span>
                            <span class="match-score__versus">-</span>
                            <%} else {%>
                                <span class="match-score__goals">-</span>
                                <span class="match-score__versus">vs</span>
                                <%};%>
                                    <%if(element.scoreP2 !==undefined){%>
                                        <span class="match-score__goals">
                                            <%=element.scoreP2%>
                                        </span>
                                        <%} else {%>
                                            <span class="match-score__goals">-</span>
                                            <%};%>
                                                <input type="submit" value="Editar" class="fixture-submit">
                    </div>
                    <a class="match-info" href="/fixture/<%=tournamentId%>/<%=element.teamIdP2%>">
                        <span class="match-info__team">
                            <%=element.teamP2%>
                        </span>
                        <img src="<%=element.logoTeamP2%>" alt="<%=element.logoTeamP2%>">
                        <span>
                            <%=element.playerP2%>
                        </span>
                    </a>
                </div>

                <%});%>
        </div>
        <div class="return">
            <div>Volver a <a href="/fixture">
                    Fixtures
                </a>
            </div>
            <div>Fixture <a href="/fixture/<%-tournamentId-%>">
                    <%-tournamentName-%>
                </a>
            </div>
            <div>Ir a
                <a href="/standings">
                    Clasificación
                </a>
            </div>
            <div>Volver al <a href="/">home</a></div>
        </div>
    </main>
    <%- include('./partials/footer')-%>