<%- include('./partials/header')-%>
    <main>
        <div>FIXTURE del torneo
            <%-tournamentName-%>
        </div>
        <div>Partidos de <%-teamName-%>
        </div>
        <div class="container__fixture">
            <%filteredFixtureFromTournament.forEach(function(element, index) {%>
                <form>
                    <div class="fixture-match">
                        <div class="match-info">
                            <span>
                                <%=element.teamP1%>
                            </span>
                            <span>
                                <%=element.playerP1%>
                            </span>
                        </div>
                        <%if(element.scoreP1 !==undefined){%>
                            <div class="match-score">
                                <span>
                                    <%=element.scoreP1%>
                                </span>
                            </div>
                            <%} else {%>
                                <div class="match-score">
                                    <span>-</span>
                                </div>
                                <%};%>
                                    vs
                                    <%if(element.scoreP2 !==undefined){%>
                                        <div class="match-score">
                                            <span>
                                                <%=element.scoreP2%>
                                            </span>
                                        </div>
                                        <%} else {%>
                                            <div class="match-score">
                                                <span>-</span>
                                            </div>
                                            <%};%>
                                                <div class="match-info">
                                                    <span>
                                                        <%=element.teamP2%>
                                                    </span>
                                                    <span>
                                                        <%=element.playerP2%>
                                                    </span>
                                                </div>
                                                <input type="submit" value="Editar" class="fixture-submit">
                    </div>
                </form>

                <%});%>
        </div>
        <div class="return">
            <div>Fixture <a href="/fixture/<%-tournamentId-%>">
                    <%-tournamentName-%>
                </a>
            </div>
            <div>Ir a
                <a href="/standings">
                    Clasificación
                </a>
            </div>
            <div>Volver al <a href="/">home</a></div>
        </div>
    </main>
    <%- include('./partials/footer')-%>