<%- include('./partials/header')-%>

    <main>

        <% if(standingsArray){ %>

            <% standingsArray.sort(function(a,b) { if(a.name> b.name) { return 1 } else { return-1
                }}).forEach(function(tournament, index) {%>

                <div>
                    <div class="title">
                        <%=tournament.name%>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-dark table-hover table-standings">
                            <thead>
                                <tr>
                                    <th scope="col">Pos.</th>
                                    <th scope="col">Equipo</th>
                                    <th scope="col">Jugador</th>
                                    <th scope="col">PJ</th>
                                    <th scope="col">PG</th>
                                    <th scope="col">PE</th>
                                    <th scope="col">PP</th>
                                    <th scope="col">GF</th>
                                    <th scope="col">GC</th>
                                    <th scope="col">DIF</th>
                                    <th scope="col">Pts.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (i=0; i < tournament.sortedStanding.length ; i++) { %>
                                    <tr>
                                        <td>
                                            <%=i+1%>
                                        </td>
                                        <td>
                                            <img src="<%=tournament.sortedStanding[i].logo%>"
                                                alt="<%=tournament.sortedStanding[i].team%>">
                                            <a href="/fixture/<%=tournament.tournamentId%>/<%=tournament.sortedStanding[i].id%>"
                                                class="team-name">
                                                <%=tournament.sortedStanding[i].team%>
                                            </a>
                                            <a href="/fixture/<%=tournament.tournamentId%>/<%=tournament.sortedStanding[i].id%>"
                                                class="team-code">
                                                <%=tournament.sortedStanding[i].teamCode%>
                                            </a>
                                        </td>
                                        <td>
                                            <a
                                                href="/fixture/<%=tournament.tournamentId%>/<%=tournament.sortedStanding[i].player%>">
                                                <%=tournament.sortedStanding[i].player[0] +
                                                    tournament.sortedStanding[i].player[1].toUpperCase()%>
                                            </a>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].played%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].wins%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].draws%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].losses%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].goalsFor%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].goalsAgainst%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].scoringDifference%>
                                        </td>
                                        <td>
                                            <%=tournament.sortedStanding[i].points%>
                                        </td>
                                    </tr>
                                    <%};%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <%});%>
                    <div class="return">
                        <div>Volver al <a href="/">home</a></div>
                    </div>
                    <% } else{ %>
                        <div>Hola, NO hay torneos cargados en la base de datos</div>
                        <div>¿Desea <a href="/create-tournament">crear un torneo</a>?</div>
                        <% } %>

    </main>

    <%- include('./partials/footer')-%>