<%- include('./partials/header')-%>

    <main>

        <% if(tournamentById){ %>
            <div>Hola, el ID del torneo es: <%=tournamentById.id%>
            </div>
            <div>
                <div>
                    Torneo: <%=tournamentById.name%>
                </div>
                <div>
                    Jugadores: <%tournamentById.players.forEach(function(element, index) {%>
                        <%=element%>
                            <%});%>
                </div>
                <div>
                    Equipos: <%tournamentById.teams.forEach(function(element, index) {%>
                        <%=element%>
                            <%});%>
                </div>
                <div>
                    <div>Volver a <a href="/tournaments">torneos</a></div>
                    <div>Volver al <a href="/">home</a></div>
                </div>
            </div>
            <% } else{ %>
                <div>Hola, NO hay torneos cargados en la base de datos</div>
                <div>¿Desea <a href="/create-tournament">crear un torneo</a>?</div>
                <% } %>

    </main>

    <%- include('./partials/footer')-%>