<%- include('./partials/header')-%>

    <main>

        <% if(allTournaments.length> 0){ %>
            <div>Hola, hay al menos un torneo en la base de datos</div>
            <span>
                Cantidad de torneos: <%=allTournaments.length%>
            </span>
            <div>
                <div>
                    Torneos: <%allTournaments.forEach(function(element, index) {%>
                        <a href="/tournaments/<%=element.id%>">
                            <%=element.name%>
                        </a>
                        <%});%>
                </div>
                <a href="/">Volver al home</a>
            </div>
            <% } else{ %>
                <div>Hola, NO hay torneos cargados en la base de datos</div>
                <div>¿Desea <a href="/create-tournament">crear un torneo</a>?</div>
                <% } %>

    </main>

    <%- include('./partials/footer')-%>