<%- include('./partials/header')-%>

    <main>
        <form class="form" id="uploadGamesForm" action="/upload-games-from-tournament" method="post" autocomplete="off">
            <div class="form__container">
                <div class="form__container-row">
                    <label>
                        Torneo:
                    </label>
                    <select name="tournamentName" required>
                        <option selected value="<%=tournamentById.name%>">
                            <%=tournamentById.name%>
                        </option>
                    </select>
                    <label>
                        ID del torneo:
                    </label>
                    <select name="tournamentId" required>
                        <option selected value="<%=tournamentById._id%>">
                            <%=tournamentById._id%>
                        </option>
                    </select>
                </div>
                <div class="form__container-row">
                    <label>
                        Tipo de torneo:
                    </label>
                    <% if(tournamentById.format==="league" ){ %>
                        <select name="format" required>
                            <option selected value="<%=tournamentById.format%>">
                                Temporada
                            </option>
                        </select>
                        <% } else if (tournamentById.format==="playoff" ){ %>
                            <select name="format" required>
                                <option selected value="<%=tournamentById.format%>">
                                    Eliminatoria
                                </option>
                            </select>
                            <% } else{ %>
                                <select name="format" required>
                                    <option selected value="<%=tournamentById.format%>">
                                        Temporada + Eliminatoria
                                    </option>
                                </select>
                                <% } %>
                                    <label>
                                        Tipo de equipos:
                                    </label>
                                    <% if(tournamentById.origin==="clubs" ){ %>
                                        <select name="origin" required>
                                            <option selected value="<%=tournamentById.origin%>">
                                                Clubes
                                            </option>
                                        </select>
                                        <% } else{ %>
                                            <select name="origin" required>
                                                <option selected value="<%=tournamentById.origin%>">
                                                    Selecciones
                                                </option>
                                            </select>
                                            <% } %>
                </div>
            </div>
            <div class="form__container">
                <div class="form__container-row">
                    <label>
                        Seleccione el Jugador 1 (J1):
                    </label>
                    <select id="playerP1" name="playerP1" required>
                        <option selected disabled value="">J1</option>
                        <%tournamentById.players.forEach(function(element, index) {%>
                            <option id="<%=element%>" value="<%=element%>">
                                <%=element%>
                            </option>
                            <%});%>
                    </select>
                    <span class="customizedArrow"></span>
                </div>
                <div class="form__container-row">
                    <label>
                        Seleccione el equipo del J1:
                    </label>
                    <select id="teamP1" name="teamP1" required>
                        <option selected disabled value="">Equipo J1</option>
                        <%tournamentById.teams.sort(function(a,b) { if(a.team> b.team) { return 1 } else { return-1
                            }}).forEach(function(element, index) {%>
                            <option id="<%=element.team%>" value="<%=element.team%>">
                                <%=element.team%>
                            </option>
                            <%});%>
                    </select>
                </div>
                <div class="form__container-row">
                    <label>Seleccione el score:</label>
                    <input id="scoreP1" name='scoreP1' placeholder="Marcador J1" type="number" min="0" required>
                </div>
            </div>

            <div class="form__container">
                <div class="form__container-row">
                    <label>
                        Seleccione el Jugador 2 (J2):
                    </label>
                    <select id="playerP2" name="playerP2" required>
                        <option selected disabled value="">J2</option>
                        <%tournamentById.players.forEach(function(element, index) {%>
                            <option id="<%=element%>" value="<%=element%>">
                                <%=element%>
                            </option>
                            <%});%>
                    </select>
                </div>
                <div class="form__container-row">
                    <label>
                        Seleccione el equipo del J2:
                    </label>
                    <select id="teamP2" name="teamP2" required>
                        <option selected disabled value="">Equipo J2</option>
                        <%tournamentById.teams.sort(function(a,b) { if(a.team> b.team) { return 1 } else { return-1
                            }}).forEach(function(element, index) {%>
                            <option id="<%=element.team%>" value="<%=element.team%>">
                                <%=element.team%>
                            </option>
                            <%});%>
                    </select>
                </div>
                <div class="form__container-row">
                    <label>Seleccione el score:</label>
                    <input id="scoreP2" name='scoreP2' placeholder="Marcador J2" type="number" min="0" required>
                </div>
            </div>

            <div id="penalties" class="form__container penalties">
                <div>¿Penales?</div>
                <div class="form-check">
                    <input id="penalties-yes" name="penalties-radio" class="form-check-input" type="radio" value="yes">
                    <label class="form-check-label" for="penalties-yes">
                        Sí
                    </label>
                </div>
                <div class="form-check">
                    <input id="penalties-no" name="penalties-radio" class="form-check-input" type="radio" value="no"
                        checked>
                    <label class="form-check-label" for="penalties-no">
                        No
                    </label>
                </div>
                <label>
                    Penales anotados (J1):
                </label>
                <input id="penaltyScoreP1" name='penaltyScoreP1' value="0" min="0" placeholder="Penales J1"
                    type="number" min="0">
                <label>
                    Penales anotados (J2):
                </label>
                <input id="penaltyScoreP2" name='penaltyScoreP2' value="0" min="0" placeholder="Penales J2"
                    type="number" min="0">
                <span class="customizedArrow"></span>
            </div>
            </div>

            <div class="form__container">
                <input type="submit">
            </div>
        </form>
    </main>
    <script src="./../js/upload-games.js"></script>

    <%- include('./partials/footer')-%>